html {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	font-size: 16px !important;
}
blockquote {
	border-left: 10px solid #808695;
	padding: 1rem !important;
	margin: 1rem 0 !important;
}
