html {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code,
kbd,
pre,
samp {
	font-family: 'Fira Mono', monospace !important;
}
pre {
	background-color: initial !important;
}
code.plain {
	color: inherit !important;
	font-size: inherit !important;
	font-weight: inherit !important;
	background-color: inherit !important;
	padding: 0 !important;
}
@for $i from 1 through 6 {
	h#{$i} {
		&:first-child {
			margin-top: 1rem;
		}
		.icon {
			margin-right: 0.5rem;
		}
		.tag {
			margin-left: 0.5rem;

			a {
				color: inherit !important;
			}
		}
	}
}
.hljs {
	tab-size: 4;
}
article.message {
	.hljs {
		background-color: #272822 !important;
	}
}

// Router transition
.fade {
	&-enter-to,
	&-leave {
		opacity: 1;
	}
	&-enter,
	&-leave-to {
		opacity: 0;
	}
	&-enter-active,
	&-leave-active {
		transition: opacity 0.2s ease;
	}
}
